<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PrefixProd" value="y!" />
		<add key="PrefixTest" value="," />
		<add key="Invite" value="https://discordapp.com/api/oauth2/authorize?client_id=295182825521545218&amp;scope=bot&amp;permissions=388160" />
		<add key="Web" value="https://yumiko.uwu.ai/" />
		<add key="AnilistAvatar" value="https://anilist.co/img/icons/android-chrome-512x512.png" />
		<add key="TimeoutGames" value="10" />
		<add key="GuessTimeGames" value="20" />
		<add key="TimeoutGeneral" value="30" />
	</appSettings>
</configuration>