<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DiscordAPIKey" value="DISCORD_API_KEY"/>
		<add key="Prefix" value="*"/>
		<add key="PathMusica" value="C:\Music\Path\"/>
		<add key="Invite" value="https://discordapp.com/api/oauth2/authorize?client_id=CLIENT_ID&amp;scope=bot&amp;permissions=200801351"/>
		<add key="Donar" value="https://www.paypal.me/marianoburguete"/>
		<add key="LavalinkHost" value="localhost"/>
		<add key="LavalinkPort" value="2333"/>
		<add key="LavalinkPass" value="shallnotpass"/>
	</appSettings>
</configuration>
