<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DiscordAPIKey" value="Mjk1MTgyODI1NTIxNTQ1MjE4.XqNETg.R04GlssFnqFwkLxaZYZVj-GNnJs"/>
		<add key="Prefix" value="y!"/>
		<add key="Invite" value="https://discordapp.com/api/oauth2/authorize?client_id=295182825521545218&amp;scope=bot&amp;permissions=388160"/>
		<add key="Web" value="https://yumiko.uwu.ai/"/>
		<add key="TimeoutGames" value="10"/>
		<add key="GuessTimeGames" value="20"/>
	</appSettings>
</configuration>
