name: CI/CD

on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: self-hosted
    if: "!contains(format('{0} {1}', github.event.head_commit.message, github.event.pull_request.title), '[ci-skip]')"
    steps:
      - name: Run SSH command
        uses: garygrossgarten/github-action-ssh@release
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          privateKey: ${{ secrets.PRIVATE_KEY }}
          command: >
            cd ~/Yumiko &&
            git reset --hard &&
            git pull &&
            chmod +x deploy &&
            nohup ./deploy > yumiko-log.txt 2>&1 &
